@page {
    size: A5;
    margin: 0.5cm;
}

@page:left {
    margin-right: 2cm;
}

@page:right {
    margin-left: 2cm;
}


html {
    font-size: 10pt;
}

.page {
    page-break-after: always;
    border: 0;
}

.panel {
    -webkit-print-color-adjust: exact;
}