html {
    /* off-white, so body edge is visible in browser */
    background: #eee;
    font-size: 9pt;
    font-family: 'Roboto', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    /* A5 dimensions */
    /* height: 210mm; */
    width: 148.5mm;

    margin: 0;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-variant: small-caps;
}

h1 {
    flex: 1;
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.9em;
}

section {
    padding: 1mm 0;
}
