{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "eqeqeq": 2,
        "max-nested-callbacks": [2, { "max": 4 }],
        "no-case-declarations": 1,
        "no-console": [2, { "allow": ["log"] }],
        "no-constant-condition": 2,
        "no-debugger": 1,
        "no-dupe-args": 2,
        "no-else-return": 2,
        "no-empty": 2,
        "no-irregular-whitespace": 2,
        "no-script-url": 1,
        "no-undef": 2,
        "no-unreachable": 2,
        "no-unused-vars": [1, { "argsIgnorePattern": "^_$" }],
        "prettier/prettier": "warn"
    },
    "extends": ["prettier"],

    "env": {
        "es6": true,
        "node": true
    },
    "plugins": ["prettier"]
}
