$inner-margin: 1mm;

@import 'partials/base';
@import 'partials/page';
@import 'partials/field';
@import 'partials/grid';

/**
    HEADER
*/
header {
    display: flex;
    align-items: center;
    margin-bottom: 0.2em;
    padding: 0 $inner-margin;
    flex-shrink: 0;

    .org {
        font-size: 1.2em;
    }
}

.header-club {
    margin-right: 1em;
}

.header-didattica-logo {
    margin-left: 1em;
}

.panel {
    border: 1px solid black;
    background: #e5e5e5;
    padding: 1px;
    margin: 1px;

    .panel {
        padding: 2px $inner-margin;
    }
}

.note {
    font-style: italic;
}

.intro {
    display: flex;

    .field {
        flex: 1;
    }

    .field-label {
        width: 2cm;
    }

    .panel-column--id {
        .field-value {
            width: 1.5cm;
        }
    }

    .panel-column--place {
        .field-value {
            flex: 1;
        }
    }
}

/* QUADRO 1 */

.setup {
    display: flex;

    h2 {
        display: block;
        margin-bottom: 1mm;
    }
}

.ambiente {
    width: 60%;

    .row {
        display: flex;
        align-items: center;
        font-size: 0.8em;
    }

    .field {
        justify-content: flex-end;
    }

    .label {
        width: 15%;
    }
    .field {
        flex: 1;

        padding-left: 0;

        &-value {
            min-width: 1rem;
            width: 1rem;
            padding: 0;
            text-align: center;
            font-size: 0.8em;
        }
    }
}

.attrezzatura {
    flex: 1;

    .field {
        &-label {
            width: 37%;
        }

        &-value {
            flex: 1;
        }
    }
}

.chart {
    height: 3.2cm;
    border: 1px solid black;
    background: white;
}

.riassunto {
    header {
        display: flex;
        justify-content: space-between;
    }

    &-1,
    &-2 {
        // width: 29%;
        flex: 1;
    }

    &-parziali {
        flex: 1;
    }

    .field {
        justify-content: flex-end;
        &-value {
            width: 1cm;
            text-align: right;
        }
    }
}

.columns {
    display: flex;
    justify-content: space-between;
}

.signature {
    margin-top: 2mm;
    .field {
        flex-wrap: wrap;
        &-label {
            width: 100%;
            font-variant: small-caps;
            font-weight: 900;
        }

        &-value {
            flex: 1;
            font-size: 1em;

            img {
                height: 15px;
            }
        }

        &-info {
            font-size: 0.9em;
        }
    }
}

.copy {
    text-align: center;
    margin-top: auto;
    padding-top: 2mm;
}
