$inner-margin: 1mm;

@import 'partials/base';
@import 'partials/page';
@import 'partials/field';
@import 'partials/grid';

/**
    HEADER
*/
header {
    display: flex;
    align-items: center;
    margin-bottom: 0.2em;
    padding: 0 $inner-margin;
    flex-shrink: 0;

    .org {
        font-size: 1.2em;
    }
}

.header-club {
    margin-right: 1em;
}

.header-didattica-logo {
    margin-left: 1em;
}

.panel {
    border: 1px solid black;
    background: #e5e5e5;
    padding: 1px;
    margin: 1px;

    .panel {
        padding: 2px $inner-margin;
    }
}

.note {
    font-style: italic;
}

.intro {
    display: flex;

    .field {
        flex: 1;
    }

    .field-label {
        width: 2cm;
    }

    .panel-column--id {
        .field-value {
            width: 1.5cm;
        }
    }

    .panel-column--place {
        .field-value {
            flex: 1;
        }
    }
}

/* QUADRO 1 */

.setup {
    display: flex;

    h2 {
        display: block;
        margin-bottom: 1mm;
    }
}

.ambiente {
    width: 60%;

    .row {
        display: flex;
        align-items: center;
        font-size: 0.8em;
    }

    .field {
        justify-content: flex-end;
    }

    .label {
        width: 15%;
    }
    .field {
        flex: 1;

        padding-left: 0;

        &-value {
            min-width: 1rem;
            width: 1rem;
            padding: 0;
            text-align: center;
            font-size: 0.8em;
        }
    }
}

.attrezzatura {
    flex: 1;

    .field {
        &-label {
            width: 37%;
        }

        &-value {
            flex: 1;
        }
    }
}

.profilo {
    &-layers {
        position: relative;

        &-0 {
            position: absolute;
            z-index: 0;
            top: 0;
            width: 100%;
        }
    }

    .field-label {
        display: block;
        font-size: 0.6em;
    }

    .row {
        display: flex;
        width: 100%;
        margin-bottom: 6mm;
    }

    .field-value {
        border: 0.1mm solid black;
    }

    svg {
        margin-top: 8mm;
    }

    .field-far,
    .field-intervallo-di-sup {
        flex-direction: column;
        text-align: center;

        .field-label {
            text-align: center;
            width: 100%;
        }

        .field-value {
            display: block;
        }
    }

    .field-intervallo-di-sup {
        .field-value {
            border-left: none;
            border-right: none;
        }
    }

    .field-far {
        width: 5mm;

        &-before {
            margin-left: 5mm;
        }
        &-exit {
            margin-left: auto;
            margin-right: 5mm;
        }
    }

    .ora {
        justify-content: space-between;

        .field-ora {
            .field-label {
                text-align: right;
            }

            &-start {
                margin-left: 8mm;
            }

            &-end {
                margin-right: 5mm;
            }
        }

        .field-deco {
            margin-left: 8mm;
            align-items: flex-end;

            .field-value  {
                background: transparent;
                border-top: 0;
                border-left: 0;
                border-right: 0;
            }
        }
    }

    .press {
        justify-content: space-between;
    }
    .tempi {
        justify-content: space-between;
        .field {
            flex-wrap: wrap;
        }
        .field-value {
            width: 100%;
        }
    }
}

.chart {
    height: 3.2cm;
    border: 1px solid black;
    background: white;
}

.signature {
    margin-top: 2mm;
    .field {
        flex-wrap: wrap;
        &-label {
            width: 100%;
            font-variant: small-caps;
            font-weight: 900;
        }

        &-value {
            flex: 1;
            font-size: 1em;

            img {
                height: 15px;
            }
        }

        &-info {
            font-size: 0.9em;
        }
    }
}

.copy {
    text-align: center;
    margin-top: auto;
    padding-top: 2mm;
}
