<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,900" rel="stylesheet">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link href="/print.css" rel="stylesheet" media="print">
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    {{#logbook.dives}}
        <div class="page page-right">
        <aside>
            <div class="hole ha"></div>
            <div class="hole hb"></div>
            <div class="hole hc"></div>
            <div class="hole hd"></div>
        </aside>
        <main>
            <header>
                <img class="header-club" src="club.png" alt="logo club" height="30px" />
                <h1>Scheda Aria / Nitrox</h1>
                <div class="org">F.I.P.S.A.S.</div>
                <img class="header-didattica-logo" src="fipsas.png" alt="logo fipsas" height="30px" />
            </header>
            <div class="panel">
                <div class="panel">
                    <section class="intro">
                        <div class="grid-column panel-column--id">
                            <div class="field">
                                <span class="field-label">Immersione n°</span>
                                <span class="field-value field-value--number">{{number}}</span>
                            </div>
                            <div class="field">
                                <span class="field-label">Data</span>
                                <span class="field-value field-value--number">{{date}}</span>
                            </div>
                        </div>
                        <div class="grid-column grid-column-flex panel-column--place">
                            <div class="field field-luogo">
                                <span class="field-label">Luogo</span>
                                <span class="field-value">
                                    {{#city}}{{.}} {{#country}}-{{/country}}{{/city}} {{country}}
                                </span>
                            </div>
                            <div class="field field-punto">
                                <span class="field-label">Punto</span>
                                <span class="field-value">{{site}}</span>
                            </div>
                        </div>
                    </section>
                    <section class="setup grid-container"> 
                        <div class="ambiente grid-column">
                            <h2>Condizioni Meteo Marine</h2>
                            <div class="row">
                                <div class="label">meteo:</div>
                                <div class="field field-sereno">
                                    <span class="field-label">sereno</span>
                                    <span class="field-value">{{#weather_is_clear}}✔{{/weather_is_clear}}</span>
                                </div>
                                <div class="field field-coperto">
                                    <span class="field-label">coperto</span>
                                    <span class="field-value">{{#weather_is_cloud}}✔{{/weather_is_cloud}}</span>
                                </div>
                                <div class="field field-pioggia">
                                    <span class="field-label">pioggia</span>
                                    <span class="field-value">{{#weather_is_rain}}✔{{/weather_is_rain}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">mare:</div>
                                <div class="field field-calmo">
                                    <span class="field-label">calmo</span>
                                    <span class="field-value">{{#surface_is_calm}}✔{{/surface_is_calm}}</span>
                                </div>
                                <div class="field field-poco-mosso">
                                    <span class="field-label">poco mosso</span>
                                    <span class="field-value">{{#surface_is_mid}}✔{{/surface_is_mid}}</span>
                                </div>
                                <div class="field field-mosso">
                                    <span class="field-label">mosso</span>
                                    <span class="field-value">{{#surface_is_rough}}✔{{/surface_is_rough}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">visibilità:</div>
                                <div class="field field-buona">
                                    <span class="field-label">buona</span>
                                    <span class="field-value">{{#visibility_is_good}}✔{{/visibility_is_good}}</span>
                                </div>
                                <div class="field field-sufficiente">
                                    <span class="field-label">sufficiente</span>
                                    <span class="field-value">{{#visibility_is_enough}}✔{{/visibility_is_enough}}</span>
                                </div>
                                <div class="field field-scarsa">
                                    <span class="field-label">scarsa</span>
                                    <span class="field-value">{{#visibility_is_poor}}✔{{/visibility_is_poor}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">corrente:</div>
                                <div class="field field-assente">
                                    <span class="field-label">assente</span>
                                    <span class="field-value">{{#current_is_calm}}✔{{/current_is_calm}}</span>
                                </div>
                                <div class="field field-debole">
                                    <span class="field-label">debole</span>
                                    <span class="field-value">{{#current_is_weak}}✔{{/current_is_weak}}</span>
                                </div>
                                <div class="field field-forte">
                                    <span class="field-label">forte</span>
                                    <span class="field-value">{{#current_is_strong}}✔{{/current_is_strong}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="attrezzatura grid-column grid-column-flex">
                            <h2>Attrezzatura</h2>
                            <div class="field field-muta">
                                <span class="field-label">muta</span>
                                <span class="field-value">{{dive_suit}}</span>
                            </div>
                            <div class="field field-zavorra">
                                <span class="field-label">zavorra <small>(kg)</small></span>
                                <span class="field-value">{{weights}}</span>
                            </div>
                            <div class="field field-bombole">
                                <span class="field-label">bombole <small>(l)</small></span>
                                <span class="field-value">{{volume_tank}}</span>
                            </div>
                            <div class="field field-computer">
                                <span class="field-label">computer</span>
                                <span class="field-value">{{computer}}</span>
                            </div>
                        </div>
                    </section>
                    <section class="profilo">
                        <h2>Profilo dell'immersione</h2>
                        <div class="profilo-layers">
                        <div class="profilo-layers-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="120" viewBox="0 0 439 120">
                                <polyline fill="none" stroke="#000000" stroke-width="3" points=".848 2.445 93.919 2.445 128.423 118.38 261.655 118.38 305.619 60.318 367.625 60.318 387.373 2.445 438.316 2.445"/>
                            </svg>
                        </div>
                            <div class="row far">
                               <div class="field field-far field-far-before">
                                    <span class="field-label">FAR</span>
                                    <span class="field-value"></span>
                                </div>
                                <div class="field field-intervallo-di-sup">
                                    <span class="field-label">int. sup.</span>
                                    <span class="field-value">{{surface_interval}}</span>
                                </div>
                                <div class="field field-far">
                                    <span class="field-label">FAR</span>
                                    <span class="field-value"></span>
                                </div>
                                 <div class="field field-far field-far-exit">
                                    <span class="field-label">FAR</span>
                                    <span class="field-value"></span>
                                </div>
                            </div>
                            <div class="row ora">
                                <div class="field field-ora field-ora-start">
                                    <span class="field-label">ora<br /><small>inizio</small></span>
                                    <span class="field-value">{{entry_time}}</span>
                                </div>
                                <div class="field field-deco">
                                    <span class="field-label">min</span>
                                    <span class="field-value">{{deco_stops}}</span>
                                    <span class="field-label">m</span>
                                    <span class="field-value">{{deco_stops}}</span>
                                </div>
                                <div class="field field-ora field-ora-end">
                                    <span class="field-label">ora<br /><small>fine</small></span>
                                    <span class="field-value">{{exit_time}}</span>
                                </div>
                            </div>
                            <div class="press row">
                                <div class="field field-press field-press-start">
                                    <span class="field-label">bar<br /><small>inizio</small></span>
                                    <span class="field-value">{{pressure_start}}</span>
                                </div>
                                <div class="field field-press field-press-end">
                                    <span class="field-label">bar<br /><small>fine</small></span>
                                    <span class="field-value">{{pressure_end}}</span>
                                </div>
                            </div>
                             <div class="tempi row">
                                <div class="field field-penalità">
                                    <span class="field-label">Penalità</span>
                                    <span class="field-info">(min)</span>
                                    <span class="field-value"></span>
                                </div>
                                <div class="field field-tempo-di-fondo">
                                    <span class="field-label">T<sub>fondo</sub></span>
                                    <span class="field-info">(min)</span>
                                    <span class="field-value">{{bottom_time}}</span>
                                </div>
                                <div class="field field-prof-max.">
                                    <span class="field-label">P<sub>max</sub></span>
                                    <span class="field-info">(m)</span>
                                    <span class="field-value">{{max_depth}}</span>
                                </div>
                                <div class="field field-durata">
                                    <span class="field-label">Durata</span>
                                    <span class="field-info">(min)</span>
                                    <span class="field-value">{{dive_time}}</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>     
            </div>
            <div class="panel panel--chart">
                <h3>Profilo dell'Immersione</h3>
                <div class="chart" id="chart-{{number}}"></div>
                {{^empty}}
                <script>
                    Highcharts.chart('chart-{{number}}', {
                        chart: {
                            type: 'line'
                        },
                        title: {
                            text: null
                        },
                        legend: {
                            floating: true,
                            align: 'right',
                            verticalAlign: 'bottom',
                            itemStyle: { fontSize: '8px', fontWeight: 'normal' },
                            symbolHeight: .001,
                            y: -20
                        },
                        credits: { enabled: false },
                        tooltip: { enabled: false },
                        plotOptions: {
                            line: {
                                lineWidth: 1,
                                states: { hover: { enabled: false } }
                            }
                        },
                        xAxis: {
                            labels: {
                                style: { fontSize: '8px' },
                                formatter: function () { return Math.floor(this.value / 60) }
                            },
                            categories: [{{times}}],
                                minTickInterval: 40,
                        },
                        yAxis: {
                            reversed: true,
                            tickAmount: 4,
                            title: { text: null },
                            labels: { style: { fontSize: '8px' } }
                        },
                        series: [
                            {
                                name: 'Profondità',
                                data: [{{depths}}]
                            },
                            {
                                name: 'Temp',
                                data: [{{temps}}]
                            }
                        ]
                    });</script>
                {{/empty}}
            </div>
            <div class="signature">
                <div class="field field-convalida">
                    <span class="field-label">Convalida</span>
                    <span class="field-info">(Compagno, Istruttore, Guida)</span>
                    <span class="field-value">{{buddies}}
                    {{#dive_master_signature}}
                        <img src="{{.}}" />
                    {{/dive_master_signature}}
                    
                    </span>
                </div>
            </div>
            <div class="copy">&copy; F.I.P.S.A.S. 2010 &dash; www.subnettuno.it</div>
        </main>
        </div>
         <div class="page page-left">
        <aside>
            <div class="hole ha"></div>
            <div class="hole hb"></div>
            <div class="hole hc"></div>
            <div class="hole hd"></div>
        </aside>
        <main>
            <header>
                <img class="header-club" src="club.png" alt="logo club" height="30px" />
                <h1>Scheda Aria / Nitrox</h1>
                <div class="org">F.I.P.S.A.S.</div>
                <img class="header-didattica-logo" src="fipsas.png" alt="logo fipsas" height="30px" />
            </header>
            <h2>Annotazioni</h2>
            <p class="note">(compagni d'immersione, indirizzi, numeri telefonici, punti di riferimento, piantina della zona, profili della
                costa e dei fondali, osservazioni naturalistiche o archeologiche, ecc.)</p>
            <div class="grid"></div>
            <div class="copy">&copy; F.I.P.S.A.S. 2010 &dash; www.subnettuno.it</div>
        </main>
    </div>
    {{/logbook.dives}}
</body>