.field {
    display: flex;
    justify-content: space-between;

    &-label {
        margin-right: 1mm;
        white-space: nowrap;
    }

    &-value {
        display: inline-block;
        background: white;
        border-bottom: 0.1mm solid black;
        padding: 0 0.5mm;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 4mm;
        font-size: 0.8em;
        line-height: 1.4em;

        & + & {
            margin-left: 1mm;
        }
    }

    &-info {
        font-size: 0.6em;
        align-self: center;
        margin-right: 1mm;
        font-style: italic;
    }
}
